<!-- 
	horas professional time management
	Author: Eric Rogers
-->

<div>
	<script type="text/template" id="template_landing">

		<!-- header start -->
        <header class="page_header">
            <h1><img src="../images/logo.png" alt="horas" /></h1><!-- logo -->

            <!-- start of login form -->
            <form class="login_form" method="post" action="#">
                <span class="err land-errormsg1"></span><!-- username error -->
                <input type="text" name="li_username" id="li_username" placeholder="Username">
                <span class="err land-errormsg2"></span><!-- password error -->
                <input type="password" name="li_password" id="li_password" placeholder="Password">
                <button id="login_btn">Login</button>
            </form><!-- end of login form -->

            <h2 class="tagline">Professional Time Management</h2><!-- tagline -->

        </header><!-- header end -->

        <div id="top_spacer"></div>

        <article id="left_box" class="content_box"><!-- start of the left content box -->

            <h2>Manage your time for Free!</h2>

            <p>With horas online time management, you can keep track of your busy schedule with minimum effort.
                Simply <span id="click_me">sign up</span> for your free account and then begin enjoying our easy to use
                time
                management application for whatever you need. From small projects, to giant projects, we have what you need to keep everything on time!</p>

            <ul>
                <li class="list">Add and remove projects and tasks.</li>
                <li class="list">Prioritize your tasks.</li>
                <li class="list">Edit your account settings with ease.</li>
            </ul>
        </article><!-- end of the left content box -->

        <div id="right_box" class="content_box"><!-- start of the right content box -->

            <h3>Getting started is as easy as 1, 2, 3!</h3>

            <form class="signup_form" method="post" action="#"><!-- start of the signup form -->

                <h4>Sign Up for FREE!</h4>

                <span class="err land-errormsg3"></span><!-- username error -->
                <input type="text" name="su_username" id="su_username" placeholder="Username">
                <span class="err land-errormsg4"></span><!-- password error -->
                <input type="password" name="su_password" id="su_password" placeholder="Password">
                <span class="err land-errormsg5"></span><!-- email error -->
                <input type="text" name="su_email" id="su_email" placeholder="E-mail Address">

                <button id="signup_btn">Sign Up</button>
            </form><!-- end of the signup form -->
        </div><!-- end of the right content box -->

        <footer>
            <p class="copyright">Copyright 2014&copy; horas professional time management.</p>
        </footer>
	
	</script>
</div>