/*-------------------------------------*/
/*----- created by Eric Rogers --------*/
/*-------------------------------------*/




/*-------------- Fonts -----------------------*/

@font-face {
    font-family: 'clementepdambold';
    src: url('../fonts/clementepdam-bold.eot');
    src: url('../fonts/clementepdam-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clementepdam-bold.woff') format('woff'),
         url('../fonts/clementepdam-bold.ttf') format('truetype'),
         url('../fonts/clementepdam-bold.svg#clementepdambold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*-------------- Site Wide Styles ------------*/

body {
	font: 14px "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
	Helvetica, "Arial Narrow", "Lucida Grande", sans-serif;
	background-image: url('../images/binding_light.png');
	color: #4d4d4d;
	max-width: 960px;
	margin: 0 auto;
}

header {
	margin: 0;
	background-image: url('../images/header.png');
	width: 960px;
	height: 200px;
}

h1 {
	margin: 30px 0 0 30px;
	width: 400px;
	height: 200px;
	float: left;
}

h1 img{
	width: 400px;
	height: 200px;
}

h2 {
	font: 24px 'clementepdambold',sans-serif;
	color: #1a9af5;
}

h3 {
	font: 18px 'clementepdambold',sans-serif;
	color: #1a9af5;
}

/*-------------- logged in welcome message ------------*/

#welcome_msg { 
	float: left;
	margin: 100px 0 0 0;	
}

/*-------------- top links ------------*/

#top_nav { 
	margin: 30px 30px 0 0;
	float: right;
}

.projects {
	color: #1a9af5;
	font-size: 18px;
	margin: 0 30px 0 0;
	float: left;
}

.my_account {
	color: #1a9af5;
	font-size: 18px;
	margin: 0 30px 0 0;
	float: left;
}

.logout {
	color: #1a9af5;
	font-size: 18px;
	float: left;
}

/*-------------- create new project/task ------------*/

#new_btn {	
	clear: right;
	font-size: 18px;
	width: 100px;
	height: 30px;
	color: #fff;
	background-color: #1a9af5;
	border: none;
	margin: 30px 30px 0 0;
	float: right;
}

#new_btn:hover {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #0E74B8),
	color-stop(1, #1A9AF5)
);
background-image: -o-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -moz-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -webkit-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -ms-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: linear-gradient(to bottom, #0E74B8 0%, #1A9AF5 100%);
}

/*-------------- Footer ------------*/

footer {
	clear: left;
	margin-left: 30px;
}


/*=======================================================================
========================= Landing Page ================================*/

.tagline {
	margin-top: 130px;
	font-size: 18px;
	color: #072363;
	float: left;
}

/*-------------- Login Form ------------*/

.login_form {
	float: right;
	margin: 30px 30px 0 0;
	width: 200px;
}

#li_username {
	width: 200px;
	height: 30px;
	margin-bottom: 30px;
	text-indent: 10px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #FFFFFF),
	color-stop(1, #C9E4F7)
);
	background-image: -o-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 25%, #C9E4F7 100%);
	border: 1px solid #1a9af5;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#li_username:hover, #li_username:focus {
	box-shadow: 0 0 10px #1a9af5;
	background: #fff;
}

#li_password {
	width: 200px;
	height: 30px;
	margin-bottom: 20px;
	text-indent: 10px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #FFFFFF),
	color-stop(1, #C9E4F7)
);
	background-image: -o-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 25%, #C9E4F7 100%);
	border: 1px solid #1a9af5;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#li_password:hover, #li_password:focus {
	box-shadow: 0 0 10px #1a9af5;
	background: #fff;
}

#login_btn {
	width: 80px;
	height: 20px;
	color: #fff;
	background: #1a9af5;
	border: none;
	padding: 0;
	margin: 0;
	float: right;
}

#login_btn:hover {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #0E74B8),
	color-stop(1, #1A9AF5)
);
background-image: -o-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -moz-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -webkit-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -ms-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: linear-gradient(to bottom, #0E74B8 0%, #1A9AF5 100%);
}

/*-------------- Left side Box ------------*/

#left_box {
	margin: 30px;
	width: 400px;
	height: 300px;
	border: 5px solid #1a9af5;
	background-image: url('../images/stripes_10.png');
	float: left;
	clear: left;
}

#left_box h2 {
	text-align: center;
	margin-top: 10px
}

#left_box p {
	padding: 0 30px;
}

#left_box span {
color: #ff9135;
text-decoration: underline;
}

/*-------------- Right side Box ------------*/

#right_box {
	margin-top: 30px;
	width: 470px;
	height: 300px;
	float: left;
	border: 5px solid #1a9af5;
	background-image: url('../images/cta_img.gif');
}

#right_box h3 {
	text-align: center;
	margin-top: 10px;
}

/*-------------- Signup Form ------------*/

.signup_form {
	margin-right: 20px;
	width: 200px;
	float: right;
}

.signup_form h4 {
	margin: 0 0 20px 0;
	font: 18px "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
	Helvetica, "Arial Narrow", "Lucida Grande", sans-serif;
	text-align: left;
	color: #ff9135;
}

#su_username {
	
	width: 200px;
	height: 30px;
	margin-bottom: 20px;
	text-indent: 10px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #FFFFFF),
	color-stop(1, #C9E4F7)
);
	background-image: -o-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 25%, #C9E4F7 100%);
	border: 1px solid #1a9af5;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#su_username:hover, #su_username:focus {
	box-shadow: 0 0 10px #1a9af5;
	background: #fff;
}

#su_password {
	
	width: 200px;
	height: 30px;
	margin-bottom: 20px;
	text-indent: 10px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #FFFFFF),
	color-stop(1, #C9E4F7)
);
	background-image: -o-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 25%, #C9E4F7 100%);
	border: 1px solid #1a9af5;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#su_password:hover, #su_password:focus {
	box-shadow: 0 0 10px #1a9af5;
	background: #fff;
}

#su_email {
	
	width: 200px;
	height: 30px;
	margin-bottom: 20px;
	text-indent: 10px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #FFFFFF),
	color-stop(1, #C9E4F7)
);
	background-image: -o-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 25%, #C9E4F7 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 25%, #C9E4F7 100%);
	border: 1px solid #1a9af5;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#su_email:hover, #su_email:focus {
	box-shadow: 0 0 10px #1a9af5;
	background: #fff;
}

#signup_btn {
	width: 120px;
	height: 30px;
	font: 18px "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
	Helvetica, "Arial Narrow", "Lucida Grande", sans-serif;
	float: right;
	border: none;
	background: #ff9135;
	color: #fff;
}

#signup_btn:hover {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #D67322),
	color-stop(1, #FF9035)
);
background-image: -o-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: -moz-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: -webkit-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: -ms-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: linear-gradient(to bottom, #D67322 0%, #FF9035 100%);
	
}

/*============================================================*/
/*======================== Projects Page =====================*/

/*-------------- header ------------*/

#project_header {
	clear: right;
	display: block;
	margin: 50px 30px 10px 0;
	float: right;
}

#calendar {
	float: right;
	clear: right;
	width: 50px;
	height: 50px;
	margin: 0 30px 0 0;
}

/*-------------- Project table ------------*/

.project {
	clear: both;
	margin: 0 30px 0 30px;
	width: 900px;
	height: 98px;
}

.status {
	width: 100px;
	height: 100px;
	float: left;
}

.project_tbl {
	text-indent: 20px;
	width: 700px;
	height: 100px;
	margin-bottom: 30px;
	border-collapse: collapse;
	border: 1px solid #4d4d4d;
		background-image: url('../images/stripes_50.png');
	float: left;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.project_tbl:hover {
	box-shadow: 0 0 5px #1a9af5;
	
}

td {
	padding: 0;
}

#proj_pdp {
	height: 28px;
}

#prof_ddp {
	height: 68px;
}

#proj_name {
	width: 330px;
	height: 28px;
	background: #fff;
	border-right: 2px solid #4d4d4d;
}

#proj_dd {
	width: 200px;
	height: 30px;
}

#proj_prior {
	width: 170px;
	height: 30px;
}

#proj_desc {
	width: 300px;
	height: auto;
	background: #fff;
	border-right: 2px solid #4d4d4d;
}

#proj_date {
	width: 200px;
	height: 68px;
}

.edit_delete {
	width: 98px;
	height: 98px;
	border: 1px solid #4d4d4d;
	background: #badcf5;
	float: right;
}

.proj_edit {
	width: 80px;
	height: 30px;
	color: #fff;
	background: #1a9af5;
	border: none;
	margin: 10px 10px;
}

.proj_edit:hover {
		background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #0E74B8),
	color-stop(1, #1A9AF5)
);
background-image: -o-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -moz-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -webkit-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: -ms-linear-gradient(bottom, #0E74B8 0%, #1A9AF5 100%);
background-image: linear-gradient(to bottom, #0E74B8 0%, #1A9AF5 100%);

}

.proj_delete {
	width: 80px;
	height: 30px;
	color: #fff;
	background: #ff9135;
	border: none;
	margin: 12px 10px;
}

.proj_delete:hover {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #D67322),
	color-stop(1, #FF9035)
);
background-image: -o-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: -moz-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: -webkit-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: -ms-linear-gradient(bottom, #D67322 0%, #FF9035 100%);
background-image: linear-gradient(to bottom, #D67322 0%, #FF9035 100%);
	
}

/*-------------- Project tool tip ------------*/

.project:hover .tooltip1 {
	opacity: 1;
}

.tooltip1 {
	width: 120px;
	height: 10px;
    background: #1a9af5;
    color: #fff;
    margin: 0;
    padding: 10px;
    position: relative;
    left: 250px;
    opacity: 0;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.tooltip1:after {
    border-color: #1a9af5 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 15px 15px 0;
    bottom: -15px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

/*======================== Tasks Page ============================*/

/*-------------- header ------------*/

#tasks_header {
	clear: right;
	display: block;
	margin: 50px 30px 10px 0;
	float: right;
}

#calendar {
	float: right;
	clear: right;
	width: 50px;
	height: 50px;
	margin: 0 30px 0 0;
}


/*======================= Add Project Flyout =====================*/

